#main{
    font-family: Verdana;
    color:#002469;



}

.majorSection{

    color: #999;



}

div.mainBottom {

    padding: 40px;
    background-color:#5e60626b;
    width:100%;
    height:100%;


}

div.mainBottom img {
    width: 100%;
    height: 100%;
}

.row{
    display: grid;
    grid-template-columns: 100px auto auto auto 100px;
}

.column {
    margin: auto;
}

.title1{
    color:white;
    font-size: 3vw;
    text-align: center ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;

}


.sections{
    margin:20px;
    padding: 40px;

    float: left;
    width:33.333%;
    height: 400px;
    background-image:url("resources/Rice Global Mockup Resources/16.09 - Kaysie spotlight photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sections1{
    background-image:url("resources/Rice Global Mockup Resources/16.09 - Kaysie spotlight photo.jpg");
    float: bottom;
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sections2{
    background-image:url("resources/Rice Global Mockup Resources/3053_dsc058182p.jpg");
    float: bottom;
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.sections3{
    background-image:url("resources/Rice Global Mockup Resources/greece-destination-thumb.jpg");
    float: bottom;
    height: 400px;
    width: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.grey_layer{

    background-color: rgba(200, 200, 200, 0.5);
    background-position: center ;
    position:absolute;
    width: 80%;
    height: 80%;
    margin: 10%;
    padding: 10%;
}

.middle_space{
    height: 100px;
}

div.gallery {
}

p.gallery_text{
    text-align: center;
    color: #002469;
    font-family: Arial, Helvetica, sans-serif;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.center-cropped {
  width: 400px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.responsive {
    display: inline-block;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.prev
 {
    background: white;
  cursor: pointer;
  position: absolute;
  top: 1150px;
    left: 100px;
  width: auto;
  padding: 16px;
  margin-top: -500px;
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next
 {
    background: white;
  cursor: pointer;
  position: absolute;
  top: 1150px;
    left: 1780px;
  width: auto;
  padding: 16px;
  margin-top: -500px;
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}