.rowmain{
    display: grid;
    grid-template-columns: auto minmax(400px, 600px)  minmax(400px, 600px) minmax(400px, 600px) auto;
}

.columnmain {
    margin: auto;
    position: relative;
}

.title1{
    color:white;
    font-size: 2vw;
    font-family:  Verdana, Arial, sans-serif;
    align-self: flex-end;
}

.grey_layer{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center ;
    position:absolute;
    width: 80%;
    height: 80%;
    margin: 10%;
    padding: 5%;
    display: flex;
}

.resize {
    max-width: 100%;
    height: auto;

}

@media only screen and (max-width: 1200px){
    .rowmain{
        grid-template-columns: auto;
    }
}

.middle_space{
    height: 100px;
}

div.gallery {
}

p.gallery_text{
    text-align: center;
    color: #002469;
    font-family: Arial, Helvetica, sans-serif;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.center-cropped {
  width: 400px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

.responsive {
    display: inline-block;
}



@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }

}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.prev
 {
    background: white;
  cursor: pointer;
  position: absolute;
  top: 1250px;
    left: 100px;
  width: auto;
  padding: 16px;
  margin-top: -500px;
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next
 {
    background: white;
  cursor: pointer;
  position: absolute;
  top: 1250px;
  left: 1780px;
  width: auto;
  padding: 16px;
  margin-top: -500px;
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

